In [73]:
import pandas as pf
import datetime as dt

In [74]:
transactions=pd.read_excel("C:\\Users\\eiti mittal\\Downloads\\KPMG_VI_New_raw_data_update_final.xlsx",sheet_name='Transactions')
transactions.sample(10)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
6574,6575,97,2011,2017-01-25,0.0,Approved,OHM Cycles,Road,medium,medium,742.54,667.40,42560.0
14575,14576,15,2848,2017-06-29,0.0,Approved,Norco Bicycles,Standard,low,medium,958.74,748.90,35378.0
19349,19350,0,420,2017-09-06,1.0,Approved,OHM Cycles,Standard,medium,medium,183.86,137.90,35707.0
1254,1255,80,529,2017-01-15,0.0,Approved,OHM Cycles,Touring,low,medium,1073.07,933.84,38206.0
3082,3083,45,99,2017-06-15,0.0,Approved,Solex,Standard,medium,medium,441.49,84.99,34071.0
5225,5226,61,2801,2017-10-28,1.0,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,42172.0
16411,16412,98,553,2017-12-11,1.0,Approved,Trek Bicycles,Standard,high,medium,358.39,215.03,38002.0
12079,12080,0,2698,2017-09-17,1.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,42710.0
11604,11605,4,987,2017-05-16,1.0,Approved,Giant Bicycles,Standard,high,medium,1129.13,677.48,37659.0
12454,12455,65,1947,2017-04-22,0.0,Approved,WeareA2B,Standard,medium,medium,1807.45,778.69,42145.0

In [75]:
transactions.shape

(20000, 13)

In [76]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [77]:
transactions.duplicated(subset=None).any()

False

In [78]:
transactions.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [79]:
transactions.dropna(subset=['brand', 'product_line','product_class','product_size','standard_cost','product_first_sold_date'],inplace=True)
transactions.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               358
order_status                 0
brand                        0
product_line                 0
product_class                0
product_size                 0
list_price                   0
standard_cost                0
product_first_sold_date      0
dtype: int64

In [80]:
transactions['profit']=transactions['list_price']-transactions['standard_cost']
transactions['profit'].sum()

10930283.9649719

In [81]:
transactions.describe()

,transaction_id,product_id,customer_id,online_order,list_price,standard_cost,product_first_sold_date,profit
count,19803.000000,19803.000000,19803.000000,19445.000000,19803.000000,19803.000000,19803.000000,19803.000000
mean,9993.979650,45.815937,1739.294955,0.500849,1107.997866,556.046951,38199.776549,551.950915
std,5776.499961,30.569841,1011.946353,0.500012,582.770460,405.955660,2875.201110,493.412849
min,1.000000,0.000000,1.000000,0.000000,12.010000,7.210000,33259.000000,4.800000
25%,4988.500000,18.000000,858.000000,0.000000,575.270000,215.140000,35667.000000,133.780000
50%,9995.000000,45.000000,1738.000000,1.000000,1163.890000,507.580000,38216.000000,445.210000
75%,15000.500000,72.000000,2615.000000,1.000000,1635.300000,795.100000,40672.000000,830.240000
max,20000.000000,100.000000,5034.000000,1.000000,2091.470000,1759.850000,42710.000000,1702.550000

In [82]:
transactions['order_status'].value_counts()

Approved     19625
Cancelled      178
Name: order_status, dtype: int64

In [83]:
transactions['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [84]:
transactions['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [85]:
transactions['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [86]:
transactions['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [87]:
transactions.shape

(19803, 14)