In [1]:
import pandas as pd

In [4]:
customeradd=pd.read_excel("C:\\Users\\eiti mittal\\Downloads\\KPMG_VI_New_raw_data_update_final.xlsx",sheet_name='CustomerAddress')
customeradd.sample(10)

,customer_id,address,postcode,state,country,property_valuation
1297,1302,9 Sugar Junction,4053,QLD,Australia,7
1885,1890,9460 Laurel Crossing,4032,QLD,Australia,7
95,100,8722 Summit Alley,2065,New South Wales,Australia,12
3745,3750,92 Northridge Park,2450,NSW,Australia,4
3992,3997,4 Dovetail Crossing,2350,NSW,Australia,2
2919,2924,90 Nobel Way,3166,VIC,Australia,10
3949,3954,6031 Susan Terrace,4118,QLD,Australia,5
3662,3667,32 Larry Way,3073,VIC,Australia,10
2724,2729,304 Moland Street,3810,VIC,Australia,5
2834,2839,9695 Northland Pass,2450,NSW,Australia,7

In [6]:
customeradd.shape

(3999, 6)

In [7]:
customeradd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [8]:
customeradd.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [9]:
customeradd.duplicated().sum()

0

In [18]:
customeradd['state'].unique()

array(['New South Wales', 'QLD', 'VIC', 'NSW', 'Victoria'], dtype=object)

In [22]:
customeradd['state']=customeradd['state'].replace('Victoria','VIC')
customeradd['state']=customeradd['state'].replace('New South Wales','NSW')
customeradd['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [52]:
customeradd.shape

(3999, 6)